.content{
    font-family: cursive;
}

table {
    margin-top: 5%;
    width: 100%;
  }

  .listaVazia{
    
        position:absolute;
        top:25%;
        left:43%;
        margin-top:-50px;
        margin-left:-50px;
  }