.content{
    width:100px;
    height:100px;
    position:absolute;
    top:25%;
    left:43%;
    margin-top:-50px;
    margin-left:-50px;
}
mat-form-field{
    width: 350px;

}

.divButton{
    width: 500px;

    button{
    margin-left: 60px;
    margin-top: 10px;
    background-color: rgb(180, 183, 184);
    }
}